<!DOCTYPE html>


<div class="row">
  <div class="col bg-primary">
    <h1 style="float:left;" class="text-muted"><a class="mr-5 text-body" href="#" [routerLink]="['/rel']">Home</a><a class="mr-5 text-body" href="#" [routerLink]="['/wbl']">WBL</a><a class="mr-5 text-body" href="#" [routerLink]="['/ww']">Work</a><a class="mr-5 text-body" href="#" [routerLink]="['/code']">Pay</a></h1>
  </div>
</div>

<h1>Indice delle donne in politica per ogni paese</h1>

<div class="container-fluid">

<google-chart *ngIf = 'myData.length > 0' [type]="myType" [data]="myData" [width]= 2000 [height]=500 ></google-chart>


<button (click)="loadWp()">Carica</button>

</div>

